{% extends "users/base_index.html" %}
{% load static %}


{% block meta_tags %}
	<title>Konto użytkownika</title>

{% endblock %}

{% block content %}
<div class="container-fluid " style="margin: 6% 0 0 0;">
   <ul class="nav justify-content-center" style="font-size: 18px;">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
          <div>

          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kalkulator BMI</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Treningi</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Moje Kalorie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Zmiana hasła</a>
      </li>
    </ul>
</div>
{% endblock %}