{% extends 'pages/base_index.html' %}
{% load static %}


    {% block meta_tags %}
	  <title>Travicon - o nas!</title>

      <meta name="description" content="Strona na której uczysz się od najlepszych - o nas!" />
	  <meta name="keywords" content="e-learning, znani, popularni, najlepsi" />

    {% endblock %}

    {% block content %}
     <!-- Header -->
	<!-- Im not a great fan of the colour, might change it later -->
    <header class="header text-white" style="background-image: url(../assets/img/thumb/14.jpg);">
      <div class="overlay opacity-100" style="background-color: #33323a;"></div>
      <div class="container text-center">

        <div class="row">
          <div class="col-md-8 mx-auto py-8">

            <h1 class="display-41">Od najlepszych</h1>
            <p class="lead-2 opacity-901 mt-6">Pomagamy szlifować umiejętności do perfekcji dzięki wybitnym nauczycielom</p>

          </div>
        </div>

      </div>
    </header><!-- /.header -->

    <main class="main-content">
      <section class="section">
        <div class="container">
          <div class="row gap-y align-items-center">

            <div class="col-md-8 mx-auto">
              <h2>O nas</h2>
			  <!-- Make text more wider -->
              <h3>Usługi dla zwierząt w mieście, w którym mieszkasz</h3>
              <p class="lead-3">
                Pomagamy tym, którzy tego potrzebują. Budujemy największą w Polsce bazę<br>
                specjalistów od usług dla zwierząt. Zastanawiasz się jak to działa? To proste!<br>
                Deor.pl pomaga szybko, łatwo i skutecznie wyszukać najlepszych<br>
                weterynarzy, którzy z przyjemnością pomogą Twojemu zwierzakowi.</p>

              <p class="lead-3">
                  Z największą w Polsce bazę specjalistów weterynarii, którą właśnie tworzymy<br>
                  umawianie wizyty zajmie wam kilka minut. Gdy Twój zwierzak choruje,<br>
                  poszukiwanie w internecie dobrego weterynarza wydaje się trwać wieczność. Z<br>
                  deor.pl zajmie Ci to kilka minut. Chcesz przyciąć profesjonalnie fryzurę psu albo<br>
                  kotu? Znalezienie boomera potrwa dokładnie tyle samo. Każdą usługę znajdziesz<br>
                  w kilka sekund. To tak proste, że Twój pies albo kot sam by sobie z tym poradził.<br>
                  Musisz go tylko nauczyć czytać. A jeśli szkoda CI na to czasu, zarezerwuj mu wizytę<br>
                  u dowolnego specjalisty w minutę. Załatw sprawę jednym kliknięciem (no dobra,<br>
                  może dwoma!), a resztę czasu poświęć pupilowi, który z pewnością to doceni.
              </p>
              <p class="lead-3">
                Klikasz, wybierasz, rezerwujesz i gotowe! To proste nawet dla Reksia. Na deor.pl<br>
                można też oceniać i dodawać opinię o specjalistach, za co z pewnością będą wam<br>
                wdzięczni oni i ich klienci.
              </p>
              <p class="lead-3">
                  Na Deor.pl pomagamy znaleźć odpowiedniego specjalistę dla wszystkich<br>
                  zwierząt od piesków poczynając, przez kotki, króliki, kozy, papugi, myszy, szczury,<br>
                  myszoskoczki, jaszczurki i węże. Wszystkie zwierzaki, które skradły wasze serce.<br>
                  Oczywiście, tam gdzie są miłośnicy zwierząt nie może zabraknąć fachowej,<br>
                  profesjonalnej pomocy.
              </p>
              <p class="lead-3">
                  Pomagamy także tym, którzy świadczą usługi dla zwierząt. Pewnie wielu z<br>
                  was zastanawiało się, jak promować swój biznes w Internecie? Jak szybko<br>
                  docierać do klientów, gdy nie ma czasu na prowadzenie mediów<br>
                  społecznościowych i drogą promocję? Zarejestrować się na deor.pl.
              </p>
              <p class="lead-3">
                Największa baza weterynarzy i innych zwierzęcych specjalistów w Polsce na<br>
                Deor.pl – powstaje po to, by rozwiązać ten problem raz na zawsze. Poszerzanie<br>
                jej zasięgu każdego dnia o nowych specjalistów ułatwi klientom zarezerwowanie<br>
                wizyty w szybki i wygodny sposób, bez wychodzenia z domu.
              </p>
              <p class="lead-3">
                Z Deor.pl dążymy do maksymalnego ułatwienia życie zarówno zwierzakom,<br>
                właścicielom, jak i oczywiście tym, którzy spieszą im na ratunek.
              </p>
              <p class="lead-3">
                Ponadto wspieramy organizacje pomagające zwierzętom. Są to fundacje,<br>
                stowarzyszenia, ale także liczne grupy entuzjastów.
              </p>
              <p class="lead-3">
                Nasz model współpracy jest prosty: dajemy pieniądze tym, którzy naprawdę tego<br>
                potrzebują. Dzięki Twojej pomocy 10% naszego dochodu brutto ma szansę<br>
                trafić do potrzebujących.
              </p>

              <h3>Tylko tyle i aż tyle. Bo wierzymy, że tak trzeba!</h3>
            </div>
          </div>
        </div>
      </section>

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Numbers
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->

	  <!-- TODO Find the links to the icons under numbers! -->

      <section class="section bg-gray">
        <div class="container">
          <div class="row gap-y">

            <div class="col-md-4">
              <div class="row">
                <div class="col-6">
                  <h4 class="lead-7 text-right" data-provide="countup" data-from="1" data-to="1"></h4>
                </div>

                <div class="col-6">
                  <p class="small text-uppercase ls-2 mb-2">Projekt</p>
                 <!-- <p><i class="icon-briefcase lead-4 mb-0"></i></p>  -->
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-6">
                  <h4 class="lead-7 text-right" data-provide="countup" data-from="0" data-to="3"></h4>
                </div>

                <div class="col-6">
                  <p class="small text-uppercase ls-2 mb-2">Stażystów </br> przy pracy</p>

                  <!-- <p><i class="icon-profile-male lead-4 mb-0"></i></p> -->
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="row">
                <div class="col-6">
                  <h4 class="lead-7 text-right" data-provide="countup" data-from="0" data-to="100" data-prefix="%"></h4>
                </div>

                <div class="col-6">
                  <p class="small text-uppercase ls-2 mb-2">Karol </br> kiedy </br> umowa? </p>
                 <!--  <p><i class="icon-happy lead-4 mb-0"></i></p> -->
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>


	<!-- From the founder -->
	 <section class="section text-white p-0" style="background-color: #33323a;">
        <div class="container-wide">
          <div class="row no-gutters">


			<!-- sincerely sorry for the photo, its quite a temporary solution -->
            <div class="col-md-4 bg-img" style="background-image: url({% static 'pages/front-lay/img/some_image.png' %}); min-height: 300px;"></div>

            <div class="col-md-8 p-6 p-md-8">
              <h4>From The Founder</h4>
              <p class="lead">Instrument cultivated alteration any favourable expression law far nor. Both new like tore but year. An from mean on with when sing pain.</p>
              <p>Passage its ten led hearted removal cordial. Preference any astonished unreserved mrs. Prosperous understood middletons in conviction an uncommonly do. Supposing so be resolving breakfast am or perfectly. Is drew am hill from mr. Picture for attempt joy excited ten carried manners talking how. Suspicion neglected he resolving agreement perceived at an.</p>
              <p>Written enquire painful ye to offices forming it. Then so does over sent dull on. Likewise offended humoured mrs fat trifling answered. On ye position greatest so desirous. So wound stood guest weeks no terms up ought. By so these am so rapid blush songs begin.</p>
            </div>

          </div>
        </div>
      </section>

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Testimonial
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
	  <!--  UNSURE IF I WANT TO KEEP IT, KINDA DOESNT FIT

      <section class="section py-9"">
        <div class="overlay opacity-90" style="background-image: linear-gradient(90deg, #fff 0%, transparent 100%);"></div>
        <div class="container">

          <div class="row">
            <div class="col-10 col-md-7 col-xl-5">
              <div class="section-dialog shadow-4">
                <h5 class="fw-500">Te kursy pozwoliły mi podszlifować moje umiejętności</h5>
                <blockquote class="blockquote text-left lead-1 mb-0 mt-5">
                  <p>Kiedy słyszysz najlepszych z najlepszych dających Ci rady, to zdajesz sobie sprawę, o ile lepszym możesz się stać.</p>
                  <footer>Obecnie ktoś bardzo wyskillowany <cite title="Source Title">Onet</cite></footer>
                </blockquote>
              </div>
            </div>
          </div>

        </div>
      </section>
		-->

      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Team
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Twórcy</small>
            <h2>Wspaniały zespół</h2>
            <hr>
            <p class="lead">Poznaj skład, który uczył się fachu robiąc ten portal.</p>
          </header>

          <div class="row gap-y">
            <div class="col-md-4 team-2">
              <a href="#">
                <img src="{% static 'pages/front-lay/img/wp.png' %}" alt="...">
              </a>
              <h5>Wojtek Parol</h5>
              <small>MVP tego tygodnia</small>
              <p>Jak mas chwile, to mpge Ci powoedziec gdzie to znalezc. </br>  </br> </p>
              <br>
              <div class="social social-brand">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>


            <div class="col-md-4 team-2">
              <a href="#">
                <img src="{% static 'pages/front-lay/img/wp.png' %}" alt="...">
              </a>
              <h5>Kajetan Maślak</h5>
              <small>Szanowny Pan współwłaściciel</small>
              <p>wdrk kmwtw.  </br> </br> </br> </p>
              <br>
              <div class="social social-brand">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>

            <div class="col-md-4 team-2">
              <a href="#">
                <img src="{% static 'pages/front-lay/img/wp.png' %}" alt="...">
              </a>
              <h5>Paweł Sołtys</h5>
              <small>Director</small>
              <p>Jestem fanem tego, ze koło siebie są Sławomir, Cejrowski i Gessler i ze to nadal wyglada na poważne.</p>
              <br>
              <div class="social social-brand">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Contact
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <!--register-->
          {% include 'pages/registration.html' %}
	  <!--register-->

    </main><!-- /.main-content -->
    {% endblock %}


