<!-- findus -->
    <section class="section overflow-hidden">
        <div class="container text-center">
          <header class="section-header">
            <h2 class="display-4">Ucz się gdziekolwiek jesteś!</h2>
            <br>
            <p class="lead">Każdą lekcję możesz pobrać na swój telefon i uczyć się w dowolnym miejscu</p>
          </header>
            <div class="text-center gap-xy-2 my-6">
                <a href="#"><img src="http://thetheme.io/thesaas/assets/img/app/badge-apple.png" alt="download on app store"></a>
                <a href="#"><img src="http://thetheme.io/thesaas/assets/img/app/badge-google.png" alt="download on google play"></a>
            </div>
        </div>
    </section>
<!-- findus -->