{% extends "pages/base_index.html" %}
{% load static %}
{% block content %}
	<header class="header text-white">
      <div class="overlay opacity-100" style="background-color: #33323a;"></div>
      <div class="container text-center">

        <div class="row">
          <div class="col-md-8 mx-auto py-8">

            <h1 class="display-41">Prywatność</h1>
            <p class="lead-2 opacity-901 mt-6">Dowiedz się, co dzieje się z Twoimi danymi!</p>

          </div>
        </div>

      </div>
    </header>
	<main class="main-content">

		<section class="section">
			<div class="container">
			<div class="row">
				<div class="col-md-10 mx-auto">

				<h4>Polityka prywatności</h4>
				<p>We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you’ve requested, when we have your permission, or under the following circumstances:</p>
				<ul>
				<li>It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.</li>
				<li>We transfer information about you if TheSaaS is acquired by or merged with another company. In this event, TheSaaS will notify you before information about you is transferred and becomes subject to a different privacy policy.</li>
				</ul>
				<br>
				<h4>Zbieramy informacje</h4>
				<ul>
				<li>When you register for TheSaaS we ask for information such as your name, email address, billing address, credit card information. Members who sign up for the free account are not required to enter a credit card.</li>
				<li>TheSaaS uses collected information for the following general purposes: products and services provision, billing, identification and authentication, services improvement, contact, and research.</li>
				</ul>
				<br>
				<h4>Co robimy z tymi informacjami</h4>
				<ul>
				<li>A cookie is a small amount of data, which often includes an anonymous unique identifier, that is sent to your browser from a web site’s computers and stored on your computer’s hard drive.</li>
				<li>Cookies are required to use the TheSaaS service.</li>
				<li>We use cookies to record current session information, but do not use permanent cookies. You are required to re-login to your TheSaaS account after a certain period of time has elapsed to protect you against others accidentally accessing your account conte
				</li>
				</ul>
				
				</div>
			</div>
        	</div>
		</section>
	</main>

{% endblock %}













