{% extends "pages/base_index.html" %}
{% load static %}
{% block content %}
<div style="margin:8% 0 2% 0;">
<div style="text-align:center;">

        <p style="font-size:30px;"><strong>Regulamin</strong></p>
        <p><strong>Regulamin serwisu <br> Dobra kaloria</strong></p>
        <p><strong>§1</strong></p>
        <p>Pojęcie "Użytkownicy" stosowane w Regulaminie oznacza osoby fizyczne <br> korzystająca z jednej, bądź kilku usług oferowanych przez Serwis Dobra kaloria</p>
        <p><strong>§2</strong></p>
        <p>Korzystanie z Serwisu wymaga założenia konta Użytkownika oraz akceptacji niniejszego Regulaminu. <br> Konto Użytkownika zostaje utworzone z chwilą wypełnienia formularza rejestracyjnego znajdującego się w Serwisie.</p>
        <p><strong>§3</strong></p>
        <p><strong>WARUNKI TECHNICZNE KORZYSTANIA Z SERWISU</strong><br></p>
        <p>Techniczne warunki korzystania z Serwisu mają znaczenie dla prawidłowości jego funkcjonowania, <br> wyglądu w strone internetowej stosowanej przez Użytkownika, a także dla bezpieczeństwa przesyłanych danych.<br>W celu prawidłowego korzystania z Serwisu wymagane jest:<br></p>
        <p>a.  połączenie z siecią Internet,</p>
        <p>b.  przeglądarka internetowa </p>
        <p>c.  posiadanie aktywnego i prawidłowo skonfigurowanego konta poczty elektronicznej</p>
        <p><strong>§4</strong></p>
        <p>Administrator uprawniony jest do wprowadzania modyfikacji technicznych do sposobu <br> realizacji usług oraz Regulaminu,
 które mają na celu usprawnienie korzystania  z usług oferowanych <br>przez serwis i/lub wprowadzenie nowych
usług, które będą dostępne dla Użytkowników. </p>
        <p><strong>§5</strong></p>
        <p>wersja 2</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>






</div>
</div>
{% endblock %}
